<div class="swiper-container w-100">
  <div class="swiper-wrapper center-lg">
    <div class="swiper-slide" *ngFor="let img of images">
      <img [src]="img" alt="" />
    </div>
  </div>
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>